body {
  font-family: "Noto Sans Devanagari", sans-serif;
  background: #0d1117;
  color: #e6edf3;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #00ff99;
}

textarea {
  width: 80%;
  height: 150px;
  margin: 10px 0;
  background: #161b22;
  color: #fff;
  border: 1px solid #30363d;
  padding: 10px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  background: #238636;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #2ea043;
}

pre {
  text-align: left;
  background: #161b22;
  padding: 15px;
  border-radius: 10px;
  width: 80%;
  margin: auto;
}
